apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: skeenode-api
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: ai
spec:
  selector:
    app: skeenode-ai
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
---
apiVersion: v1
kind: Service
metadata:
  name: dashboard-service
spec:
  selector:
    app: skeenode-dashboard
  type: LoadBalancer
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
