name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'
    - name: Build
      run: cd skeenode-backend && go build -v ./...
    - name: Test
      run: cd skeenode-backend && go test -v ./...

  test-frontend:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '24' 
    - name: Install dependencies
      run: cd skeenode-frontend && npm ci
    - name: Build
      run: cd skeenode-frontend && npm run build
